/* Navbar.css */
.navbar {
  background-color: white;
  padding: 10px 20px; /* Reduced top and bottom padding to shrink the height */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo h2 {
  color:rgb(121, 4, 4);
  font-family: Arial, sans-serif;
  font-size: 20px; /* Adjust the font size if needed */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 14px; /* Reduced font size to make the navbar more compact */
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff6347;
}
