.more-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

.more-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.why-choose {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}

.choose-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 23%;
  text-align: center;
}

.choose-icon {
  font-size: 40px;
  color: rgb(112, 6, 6);
  margin-bottom: 15px;
}

.choose-item h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.choose-item p {
  font-size: 16px;
  line-height: 1.6;
}

.faq-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.faq-container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 16px;
  line-height: 1.6;
}
